# Bases de datos

##### Julieth Sofia Moreno Ahumada

### Instalación de MariaDB

<img src="Instalación mariadb.png">

### Instalación de sakila

<img src="Instalación sakila 1.png">
<img src="Instalación sakila 2.png">
<img src="Instalación sakila 3.png">

### Diagrama entidad relación con DBeaver

<img src="sakila diagrama E-R.png">

### Consultas en consola

<img src="Consulta 1.png">
<img src="Consulta 2.png">
<img src="Consulta 3.png">
<img src="Consulta 4.png">
<img src="Consulta 5.png">
<img src="Consulta 6.png">

### Consultas SQLAlchemy Jupyter Lab

In [4]:
import pandas as pd

In [5]:
import sqlalchemy
sqlalchemy.__version__

'1.4.32'

In [9]:
from sqlalchemy import create_engine, Table, Column, Integer, String, DateTime, Float, MetaData

In [12]:
import pymysql

In [10]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [14]:
from sqlalchemy import create_engine
def connect_db():
    # MySQL user: root, password:, port:, database:
    print("Start connecting to the database")
    sql_user = input("user:") # root
    sql_passwd = input("mysql password:") 
    sql_host = input("host:")
    sql_port = int(input("port:"))
    sql_db = input("db:") 
    
    connection_string = 'mysql+pymysql://%s:%s@%s:%d/%s' % (sql_user, sql_passwd, sql_host, sql_port, sql_db) 
    
    engine = create_engine(connection_string)
    print("%s database connection succeeded" % sql_db)
    
    return engine, connection_string

engine, connection_string = connect_db()

Start connecting to the database

user: root
mysql password: sofia
host: localhost
port: 3306
db: sakila

sakila database connection succeeded

In [15]:
query = "SELECT CONCAT(s.first_name, _utf8' ',  s.last_name) AS Actor \
FROM actor as s \
order by s.last_name;"

df = pd.read_sql(query, engine)
df.head()

              Actor
0     DEBBIE AKROYD
1    KIRSTEN AKROYD
2  CHRISTIAN AKROYD
3       MERYL ALLEN
4        CUBA ALLEN

In [16]:
query2 = "select  d.address as tienda, \
SUM(p.amount) as valor \
from    address as d \
join    store as s on s.address_id = d.address_id \
join    inventory as i on i.store_id = s.store_id \
join    rental as r on r.inventory_id = i.inventory_id \
join    payment as p on p.rental_id = r.rental_id \
group by tienda;"

df2 = pd.read_sql(query2, engine)
df2

               tienda     valor
0  28 MySQL Boulevard  33726.77
1   47 MySakila Drive  33679.79

In [17]:
?engine

Type:        Engine
String form: Engine(mysql+pymysql://root:***@localhost:3306/sakila)
File:        c:\users\nohora\anaconda3\envs\basesdedatos\lib\site-packages\sqlalchemy\engine\base.py
Docstring:
Connects a :class:`~sqlalchemy.pool.Pool` and
:class:`~sqlalchemy.engine.interfaces.Dialect` together to provide a
source of database connectivity and behavior.

This is the **SQLAlchemy 1.x version** of :class:`_engine.Engine`.  For
the :term:`2.0 style` version, which includes  some API differences,
see :class:`_future.Engine`.

An :class:`_engine.Engine` object is instantiated publicly using the
:func:`~sqlalchemy.create_engine` function.

.. seealso::

    :doc:`/core/engines`

    :ref:`connections_toplevel`

### Conclusiones
1. Usar pandas para presentar los resultados de las consultas es mucho mejor ya que brinda un mejor aspecto visual, facilitando así la comprensión de los resultados.
2. SQLAlchemy es una herramienta muy útil al permitir la implementación de SQL dentro del código de python.